<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TradingConnection" connectionString="Data Source=PSARKAR02\SQLEXPRESS;Initial Catalog=TradinDB;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		
	</appSettings>
</configuration>